<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Quora Posts</h1>
    <% if (posts && posts.length > 0) { %>
        <% posts.forEach(post => { %>
        <div class="post">
            <h3 class="user">@<%= post.username %></h3>
            <h4 class="content"><%= post.content %></h4>
            <br>
            <a href="http://localhost:8080/posts/<%= post.id %>">See in Detail</a><br>
            <a href="http://localhost:8080/posts/<%= post.id%>/edit">Edit the Post</a>
            <br><br>
            <form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
                <button type="submit">Delete Post</button>
            </form>
        
           
        </div>
        <% }) %>
    <% } else { %>
        <p>No posts available. Create one now!</p>
    <% } %>
    <br>
    <br>
    <a href="http://localhost:8080/posts/new">Create New Post</a>
</body>
</html>
